{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé {% endblock %}

{% block body %}
    <div class="form-container">
<form class="form" method="post">
    Un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. 
    Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    
    Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}" class="myButton" >Réessayer</a>
</form>
</div>
{% endblock %}
