
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*hide scrollbar*/
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
  
  ::-webkit-scrollbar {
  display: none; /*chrome safari opera*/
  }

html{
  scroll-snap-type: y proximity;
}

.section-commande {
  padding: 1rem;
  padding-top: 5em;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-history {
  margin: 0 auto 20% auto;
  max-height: 30vh;
}
.history {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
  justify-content: space-around;
}


.commande {
  border-collapse: collapse;
  border: 2px solid $thirdcolor;
  border-radius: 10%;
}
.commande-reference {
  font-weight: bold;
}

.orders__order {
  display: flex;
  padding-bottom: 0.5rem;
}

.order-qty {
  width: 2em;
}
.order-total {
  justify-content: right;
}

@media screen and (max-width: 960px) {
  * {
    box-sizing: content-box;
  }
  
}