{% extends 'base.html.twig' %}

{% block title 'Administration' %}

{% block body %}
    <div class="admin">
        <div class="admin__box">
            <div><h1 class="text-center">Panneau d'Administration</h1></div>
            <div class="admin-button row">
                <div class="admin__champs">
                    <div class="btn-adm">
                        <a href="{{ path('admin_utilisateurs') }}"><button class="myButton">Gestion des Utilisateurs</button> </a>
                        <p class="tooltiptext">Pour gérer les utilisateurs : les supprimer ou modifier leur rôle</p>
                    </div>

                    <div class="btn-adm">
                        <a href="{{ path('admin_produits_index') }}"><button class="myButton">Gestion des Produits</button></a>
                        <p class="tooltiptext">Pour gérer les produits : les créer, les supprimer, modifier leur prix, description ou image ainsi qu'en gérer la disponibilité</p>
                    </div>
                </div>
                <div class="admin__champs">
                    <div class="btn-adm">
                        <a href="{{ path('admin_option_index') }}"><button class="myButton">Gestion des Options produits</button></a>
                        <p class="tooltiptext">Pour gérer les catégories produits : les créer, les supprimer ou modifier leur nom</p>
                    </div>
                    <div class="btn-adm">
                        <a href="{{ path('admin_cart_index') }}"><button class="myButton">Commandes</button></a>
                        <p class="tooltiptext">Gérer les commandes en cours ou traitées</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}