{% extends "base.html.twig" %}

{% block body %}
        {% for message in app.flashes('error') %}
            <div class="col-xs4">
                <div class="p-3 my-2 rounded-2 error">{{ message }}</div>
            </div>
        {% endfor %}
    <div class="form edit-form">
        <h1>Editer le produit</h1>
        {{ include("admin/produits/_form.html.twig", {button: 'Editer'}) }}
    </div>
{% endblock %}