{% extends "base.html.twig" %}


{% block body %}
    <div class="form edit-form">
        <h1>Créer un nouveau produit</h1>
        {{ include("admin/produits/_form.html.twig", {button: 'Créer'}) }}
    </div>
{% endblock %}
