.contact{
  min-height: 85.5vh;
  display: flex;
}

.contact .form{
  width: 80%;
  background: #4242;
  margin: auto;
  @media screen and (max-width: 960px){
    margin-bottom: 20%;
    margin-top: 5%;
  }
}

.contact--flex{
  display: flex;
  justify-content: space-around;
  color:$thirdcolor;
  @media screen and (max-width: 960px){
    flex-direction: column;
  }
}

.contact__img{
  width: 35%;
  @media screen and (max-width: 960px){
    width: 100%;
  }
}

.contact__form{
  @media screen and (max-width: 960px){
    margin-top: 2em;
  }
}

.contact-fn {
  margin-right: 20px;
  @media screen and (max-width: 960px){
    margin: 0;
  }
}

.contact__img img {
  width: 100%;
}