footer{
  display: flex;
  justify-content: space-between;
  background: $mainColor;
  width: 1280px;
  position: fixed;
  bottom: 0;
  align-items: center;
  padding: 1em;
  color: white;
  box-sizing: border-box;
}

footer img {
  width: 50px;
}

.footer__img{
  width: 40%;
  display: flex;
  justify-content: space-around;

}

.footer__img img {
  cursor: pointer;

}
@media screen and (max-width: 960px) {

  footer img {
    width: 30px;
  }

  .footer__img {
    width: 20%;
  }
}

@media screen and (max-width: 1280px) {
  footer {
    width: 100%;
    justify-content: space-around;
  }
}